[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pipenv-setup = "*"
setuptools = "*"
isort = "*"
autoflake = "*"

[packages]
regex = "*"
bs4 = "*"
chardet = "*"
lxml = "*"
tqdm = "*"
docker = "*"

[requires]
python_version = "3.7"
